:root {
  --primary-text: #eeeeee;
  --secondary-text: #a09db5;
  --secondary-text-transparent: #a09db546;
  --primary-green: #5ad386;
  --primary-green-dark: #44cf77;
  --primary-blue: #5345f5;
  --secondary-blue: #599bf2;
  --ternary-blue: #080836;
}

html {
  font-size: 62.25%;
}

body {
  font-family: 'Montserrat';
  box-sizing: border-box;
  color: var(--primary-text);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.subscription-plan {
  width: 1008px;
  height: 632px;
  background: salmon;
  background: rgb(6, 6, 51);
  background: -moz-linear-gradient(
    167deg,
    rgba(6, 6, 51, 1) 0%,
    rgba(31, 28, 92, 1) 43%,
    rgba(61, 61, 132, 1) 100%
  );
  background: -webkit-linear-gradient(
    167deg,
    rgba(6, 6, 51, 1) 0%,
    rgba(31, 28, 92, 1) 43%,
    rgba(61, 61, 132, 1) 100%
  );
  background: linear-gradient(
    167deg,
    rgba(6, 6, 51, 1) 0%,
    rgba(31, 28, 92, 1) 43%,
    rgba(61, 61, 132, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060633",endColorstr="#3d3d84",GradientType=1);
}

.submit-button {
  width: 15rem;
  height: 4.5rem;
  background: var(--primary-green);
  border-radius: 5rem;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.7rem;
  color: #080836;
  border: none;
  box-shadow: 0px 3px 8px var(--ternary-blue);
  cursor: pointer;
  transition: background 350ms ease;
  text-transform: uppercase;
}

.submit-button:hover {
  background: var(--primary-green-dark);
}
