:root {
  --primary-text: #eeeeee;
  --secondary-text: #a09db5;
  --secondary-text-transparent: #a09db546;
  --primary-green: #67d891;
  --primary-green-dark: #44cf77;
  --primary-blue: #5345f5;
  --secondary-blue: #599bf2;
  --ternary-blue: #080836;
}

html {
  font-size: 62.25%;
}

body {
  font-family: 'Montserrat';
  box-sizing: border-box;
  color: var(--primary-text);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.subscription-plan {
  width: 1008px;
  height: 632px;
  background: salmon;
  background: rgb(6, 6, 51);
  background: -moz-linear-gradient(
    167deg,
    rgba(6, 6, 51, 1) 0%,
    rgba(31, 28, 92, 1) 43%,
    rgba(61, 61, 132, 1) 100%
  );
  background: -webkit-linear-gradient(
    167deg,
    rgba(6, 6, 51, 1) 0%,
    rgba(31, 28, 92, 1) 43%,
    rgba(61, 61, 132, 1) 100%
  );
  background: linear-gradient(
    167deg,
    rgba(6, 6, 51, 1) 0%,
    rgba(31, 28, 92, 1) 43%,
    rgba(61, 61, 132, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060633",endColorstr="#3d3d84",GradientType=1);
}

.subscription-plan__wrapper {
  padding: 6.5rem calc(2rem + (90 - 20) * ((100vw - 300px) / (1920 - 300)));
}

.subscription-plan__title {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}

.subscription-plan__updater {
  margin: 5rem 0;
  padding: 0 calc(2rem + (40 - 20) * ((100vw - 300px) / (1920 - 300)));
  font-size: 1.3rem;
}

.subscription-plan__updater h3 {
  font-weight: bold;
}

.subscription-plan__benefits {
  margin-top: 0.7rem;
}

.subscription-plan__benefit {
}

.selector-plan {
}

.subscription-plan__footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription-plan__money-back {
  margin-top: 2rem;
  font-size: 1.3rem;
}
