:root {
  --primary-text: #eeeeee;
  --secondary-text: #a09db5;
  --secondary-text-transparent: #a09db546;
  --primary-green: #67d891;
  --primary-green-dark: #44cf77;
  --primary-blue: #5345f5;
  --secondary-blue: #599bf2;
  --ternary-blue: #080836;
}

html {
  font-size: 62.25%;
}

body {
  font-family: 'Montserrat';
  box-sizing: border-box;
  color: var(--primary-text);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
